@mixin outLiningBoxes($numPerRow, $margin) {
  min-height: 200px;
  max-height: 250px;
  width: ((100% - ($numPerRow - 1) * $margin) / $numPerRow);

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &:nth-child(n) { 
    margin: 0 $margin 32px 0;
  }

  &:nth-child(#{$numPerRow}n + 1) { 
    margin-right: 0; 
  }
}