<!doctype html>
<html>
<head>

  <title>Area FiftyLAN - Gaming Event</title>

  <!-- <meta name="apple-mobile-web-app-title" content="Area FiftyLAN">
  <meta name='apple-mobile-web-app-capable' content='yes'>
  <meta name='apple-touch-fullscreen' content='yes'>
  <meta name='apple-mobile-web-app-status-bar-style' content='black'>
  <meta name='format-detection' content='telephone=no'> -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">

  <script src="/lib/webcomponentsjs/webcomponents.js"></script>

  <!--
  Chrome 35 has old :host behavior before :host-context addition.
  Since Chrome 35 does not have HTMLImports, we can use this as a decent signal
  to force the ShadowDOM Polyfill.
  -->
  <script>
    if (!('import' in document.createElement('link'))) {
      var Platform = {flags: {shadow: true}};
    }
  </script>
  
  <link rel="import" href="/lib/polymer/polymer.html">
  <link rel="import" href="/lib/font-roboto/roboto.html">

  <!-- CORE ELEMENTS && PAPER ELEMENTS -->
  <link rel="import" href="/lib/core-elements/core-elements.html">
  <link rel="import" href="/lib/paper-elements/paper-elements.html">

  <!-- OWN ELEMENTS -->
  <link rel="import" href="/lib/lancie-scroll-area/lancie-scroll-area.html">
  <link rel="import" href="/lib/lancie-site-banner/lancie-site-banner.html">
  <link rel="import" href="/lib/lancie-app-bar/lancie-app-bar.html">
  <link rel="import" href="/lib/lancie-create-account/lancie-create-account.html">

  <!-- STYLESHEET -->
  <link rel="stylesheet" href="/styles/lancie.css">
  <link rel="stylesheet" href="/lib/components-font-awesome/css/font-awesome.min.css" no-shim>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

</head>
<body unresolved>
    
    <div class="content-padding" layout vertical flex>
      <create-account></create-account>
    </div>  
  
</body>
</html>