// Core variables and mixins
@import "components/variables";
@import "mixins/all";

// Core components
@import "components/base";

// Other components
@import "components/sitebanner";

@import "components/section_ready";
@import "components/section_sponsors";

@import "components/footer";

body {
  display: block;
  margin: 0;
  background-color: $prime_white;
  // @include gradient-radial-farthest($third_blue, $prime_blue);
}
