// Core variables and mixins
@import "components/variables";
@import "mixins/all";

// Core components
@import "components/base";

// Other components
@import "components/sitebanner";
@import "components/login_form";

body {
  display: block;
  margin: 80px 0 0 0;
  background-color: $default_background;
  color: $default_text_color;

  /deep/ h1, h1 {
    color: $default_title_color;
  }

  h1 {
    color: $default_title_color;
  }
}

html /deep/ lancie-section[secondary] {
  background-color: $secondary_background;
  color: $secondary_text_color;

  /deep/ h1 {
    color: $secondary_title_color;
  }
}

html lancie-section[secondary] {
  background-color: $secondary_background;
  color: $secondary_text_color;

  h1 {
    color: $secondary_title_color;
  }
}

a {
  text-decoration: none;
}

lancie-section {
  display: block;
}

lancie-map {
  display: block;
  height: 300px;
}

paper-button[raised] {
  background-color: $button_background;
  color: $button_color;
}

#header {
  background: $header_background_image center top;
  background-size: 125% auto;

  .overlay {
    position: absolute;
    z-index: 0;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: $header_background_overlay;
  }

  h2 {
    position: relative;
    z-index: 1;
    font-size: 3em;
    margin: 20px auto;
    
    line-height: 1em;
    text-align: center;
    color: $header_text_color;
    font-weight: 400;
    letter-spacing: 3px;
  }

  a paper-button[raised] {
    font-size: 32px;
    line-height: 0.8em;
    margin: 24px auto;
  }
}

@media only screen and (max-width: 581px) {
  body {
    margin-top: 50px;
  }

  #header {
    h2 {
      margin: 8px auto;
      font-size: 1.3em;
    }

    a paper-button[raised] {
      font-size: 16px;
      margin: 12px auto;
    }
  }
}

@media only screen and (min-width: 582px) and (max-width: 761px) {
  #header {
    h2 {
      margin: 8px auto;
      font-size: 2em;
    }

    a paper-button[raised] {
      font-size: 24px;
      margin: 12px auto;
    }
  }
}

#about /deep/ .about-container {

  .context {
    margin-right: 2%;
  }

  lancie-commission {
    margin-top: 16px;
  }
}

#about .about-container {
  
  .context {
    margin-right: 2%;
  }

  lancie-commission {
    margin-top: 16px;
  }
} 

