// Core variables and mixins
@import "components/variables";
@import "mixins/all";

@import "components/components";

body {
  display: block;
  margin: 0;
  background-color: $prime_blue;
  @include gradient-radial-farthest($third_blue, $prime_blue);
}