#ready {
  position: relative;
  margin-top: 80px;
  padding: 30px 0 50px;

  background: url("/images/background/halo_reach.jpg");
  background-size: 150%;
  background-position: 50% 0%;
  
  /deep/ {

    .overlay {
      position: absolute;
      top: 0; left: 0;
      background: rgba(255, 255, 255, 0.3);
      display: block;
      height: 100%; width: 100%;
    }

    h1 {
      font-size: 3.5em;
      line-height: 1em;
      padding-bottom: 20px;
      text-align: center;
      color: $prime_white;
      font-family: 'Source Code Pro', ;
    }

    paper-button {
      background: $prime_blue;
      margin: 33px 10px;
      color: $prime_yellow;
      font-size: 24px !important;
    }

  }

  .overlay {
    position: absolute;
    top: 0; left: 0;
    background: rgba(255, 255, 255, 0.3);
    display: block;
    height: 100%; width: 100%;
  }

  h1 {
    font-size: 3.5em;
    line-height: 1em;
    padding-bottom: 20px;
    text-align: center;
    color: $prime_white;
    font-family: 'Source Code Pro', ;
  }

  paper-button {
    background: $prime_blue;
    margin: 33px 10px;
    color: $prime_yellow;
    font-size: 24px !important;
  }
  
}