#sponsors {
  padding: 30px 0 50px;

  /deep/ {

    h1 {
      color: $third_blue;
      margin-bottom: 10px;
    }

    .main-sponsors {
      margin: 0 20px 20px 0;

      &.xsmall {
        margin: 0 0 20px 0;
      }
    }

  }

  h1 {
    color: $third_blue;
    margin-bottom: 10px;
  }

  .main-sponsors {
    margin: 0 20px 20px 0;

    &.xsmall {
      margin: 0 0 20px 0;
    }
  }

}