#pre-registration {
  padding: 30px 0 50px;

  /deep/  paper-button[raised], paper-button[raised] {
    background-color: $prime_blue;
    color: $prime_yellow;
  }

  /deep/ {

    h1 {
      color: $third_blue;
      margin-bottom: 10px;
    }

    .main-sponsors {
      margin: 0 50px 20px 0;

      &.xsmall {
        margin: 0 0 20px 0;
      }
    }
    .pre-registration{
      min-height: 320px;
    }



  }

  h1 {
    color: $third_blue;
    margin-bottom: 10px;
  }

  .main-sponsors {
    margin: 0 20px 20px 0;

    &.xsmall {
      margin: 0 0 20px 0;
    }
  }



}