#slider {
  position: relative;
  margin-top: 50px;
  padding: 70px 0 50px;
  max-height: 100px;

  background: url("/images/background/halo_reach.jpg") center 10%;
  background-size: 125% auto;
  background-repeat: no-repeat;

  /deep/ {
    .overlay {
      position: absolute;
      top: 0; left: 0;
      background: transparentize($third_blue, 0.6);
      display: block;
      height: 100%; width: 100%;
    }
  }

  .overlay {
    position: absolute;
    top: 0; left: 0;
    background: transparentize($third_blue, 0.6);
    display: block;
    height: 100%; width: 100%;
  }

}