#pre-registration {
  padding: 30px 0 50px;

  /deep/  paper-button[raised], paper-button[raised] {
    background-color: $prime_blue;
    color: $prime_yellow;
  }

  paper-button[raised], paper-button[raised] {
    background-color: $prime_blue;
    color: $prime_yellow;
  }

  /deep/ paper-toast {
    bottom: 12px;
    left: 12px;
    width: calc(-24px + 100vw);

    background-color: transparentize($prime_yellow, 0.1);
    color: $prime_blue;
    font-size: 16px !important;
  }

  /deep/ {

    h1 {
      color: $third_blue;
      margin-bottom: 10px;
    }

    .main-sponsors {
      margin: 0 50px 20px 0;

      &.xsmall {
        margin: 0 0 0 0;

        .list-sponsors div:nth-child(1) a {
          margin-right: 16px;
        }
      }
    }

    .pre-registration{
      min-height: 346px;
    }

    .bottom-main-sponsor div {
      background-position: 0% 0% !important;
    }

  }

  h1 {
    color: $third_blue;
    margin-bottom: 10px;
  }

  .main-sponsors {
    margin: 0 50px 20px 0;

    &.xsmall {
      margin: 0 0 0 0;

      .list-sponsors div:nth-child(1) a {
        margin-right: 16px;
      }
    }
  }

  .pre-registration{
    min-height: 346px;
  }

  .bottom-main-sponsor div {
    background-position: 0% 0% !important;
  }

}