// Huisstijl
$prime_blue:      #1a2a43;
$prime_yellow:    #ffe574;
$second_blue:     #223355;
$third_blue:      #3a5278;
$prime_white:     #eeecec;


// Ranking colors
$gold:            rgb(212, 175, 55);
$silver:          rgb(192, 192, 192);
$bronze:          rgb(205, 127, 50);
$pink:            rgb(245, 105, 145);

$green            : rgb(136, 196, 37);
$red              : rgb(204, 42, 65);


$default_color:   rgba(0, 0, 0, 0.87);