// Huisstijl
$prime_blue:                              #1a2a43;
$prime_yellow:                            #ffe574;
$second_blue:                             #223355;
$third_blue:                              #3a5278;
$prime_white:                             #eeecec;


// Ranking colors
$gold:                                    rgb(212, 175, 55);
$silver:                                  rgb(192, 192, 192);
$bronze:                                  rgb(205, 127, 50);
$pink:                                    rgb(245, 105, 145);

$green:                                   rgb(136, 196, 37);
$red:                                     rgb(204, 42, 65);


$default_color:                           rgba(0, 0, 0, 0.87);

// Button colors
$button_background:                       $prime_blue;
$button_color:                            $prime_yellow;

//Section colors
$default_background:                      $prime_white;
$default_title_color:                     $third_blue;
$default_text_color:                      $default_color;
$secondary_background:                    $prime_blue;
$secondary_title_color:                   $prime_yellow;
$secondary_text_color:                    $prime_white;

// Header
$header_background_image:                 url('/images/background/halo_reach.jpg');
$header_background_overlay:               transparentize($prime_blue, 0.7);
$header_text_color:                       $prime_white;

// Countdown colors
$countdown_background:                    $third_blue;
$countdown_background_opacity:            0.7;
$countdown_number_color:                  $prime_white;
$countdown_unit_color:                    $prime_yellow;

// Sponsors
$sponsors_primary_l_and_m:                2;
$sponsors_primary_s_and_xs:               2;
$sponsors_secondary_l_and_m:              5;
$sponsors_secondary_s_and_xs:             4;
$sponsors_margin:                         1;

// Events
$events_per_row_large:                    4;
$events_per_row_medium:                   3;
$events_per_row_small:                    2;
$events_per_row_xsmall:                   1;
$events_margin:                           1;

// Event-element
$event_default_color:                     $third_blue;
$event_default_paper_dialog:              $prime_white;

$event_content_afk_color:                 $prime_white;  
$event_content_type_color:                $prime_white;

$event_bg_overlay:                        transparentize($prime_blue, 0.6);
$event_bg_overlay_hover:                  transparentize($third_blue, 0.1);

$event_paperdialog_header_color:          $prime_white;

// Schema
$schema_per_row_large:                    3;
$schema_per_row_medium:                   3;
$schema_per_row_small:                    2;
$schema_per_row_xsmall:                   1;
$schema_margin:                           5;

// Timetable
$timetable_default_color:                 $prime_white;
$timetable_header_color:                  $third_blue;
$timetable_header_bg:                     darken($prime_white, 3%);
$timetable_default_bg:                    $third_blue;
$timetable_alternate_bg:                  darken($third_blue, 10%);

$timetable_per_row_large:                 3;
$timetable_per_row_medium:                3;
$timetable_per_row_small:                 2;
$timetable_per_row_xsmall:                1;
$timetable_margin:                        1;

// Tournaments
$tournaments_per_row_large:               4;
$tournaments_per_row_medium:              3;
$tournaments_per_row_small:               2;
$tournaments_per_row_xsmall:              1;
$tournaments_margin:                      1;

// Tournament-element
$tournament_default_color:                $third_blue;
$tournament_default_paper_dialog:         $prime_white;

$tournament_bg_overlay:                   transparentize($prime_blue, 0.6);
$tournament_bg_overlay_hover:             transparentize($third_blue, 0.1);

$tournament_content_game_afk_color:       $prime_white;  
$tournament_content_game_type_color:      $prime_white;
$tournament_second_type_color:            $prime_white;
$tournament_second_info_color:            $prime_white;

$tournament_paperdialog_header_color:     $prime_white;
$tournament_paperdialog_prices_color:     $prime_white;
$tournament_paperdialog_prices_bg:        #cdcdcd;

// Commission members
$commission_icon_color:                   $prime_yellow;
$commission_icon_bg:                      $prime_blue;

$commission_per_row_large:                2;
$commission_per_row_medium:               2;
$commission_per_row_small:                2;
$commission_per_row_xsmall:               1;
$commission_margin:                       1;


// Footer
$footer_background_color:                 $prime_blue;
$footer_color:                            $prime_white;




