@import "components/variables";

#sponsors {
  margin: 30px auto 50px;

  h1 {
    color: $third_blue;
    margin-bottom: 10px;
  }

  > div {
    height: 300px;

    > div:first-child {
      margin-right: 20px;
    }
  }
}