@import "components/variables";

#ready {
  position: relative;
  margin-top: 80px; 
  padding-top: 45px;
  background: url("/images/background/halo_reach.jpg");
  background-size: 100%;
  background-position: 50% 0%;
  height: 490px;

  .overlay {
    position: absolute;
    top: 0; left: 0;
    background: rgba(255, 255, 255, 0.3);
    display: block;
    height: 100%; width: 100%;
  }

  h1 {
    font-size: 3.5em !important;
    line-height: 1em !important;
    padding-bottom: 20px;
    text-align: center;
    color: $prime_white;
    font-family: 'Source Code Pro', ;
  }

  countdown-element::shadow div paper-shadow {
    background: transparentize(lighten($prime_blue, 20%), 0.3);
    color: transparentize(lighten($prime_white, 9%), 0.2);

    span {
      color: $prime_yellow;
    }
  }

  paper-button {
    background: $prime_blue;
    margin: 33px 10px;
    color: $prime_yellow;
    font-size: 24px !important;
  }
}