@import "components/variables";
@import "mixins/all";

:host {

  paper-button[raised] {
    background-color: $prime_blue;
    color: $prime_yellow;
  }

  paper-toast {
    bottom: 12px;
    left: 12px;
    width: calc(-24px + 100vw);

    background-color: transparentize($prime_yellow, 0.1);
    color: $prime_blue;
    font-size: 16px !important;
  }

  h1 {
    color: $third_blue;
    margin-bottom: 10px;
  }

}