@import "components/variables";
@import "mixins/all";

:host {

  .container {
    margin: 30px 0 50px;

    h1 {
      color: $prime_blue;
      margin-bottom: 16px;
    }

    .text {
      text-align: justify;
      margin-right: 0;
      margin-bottom: 20px;

      &[flex] {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
    
    .main-sponsors {
      min-width: 250px;

      partners-element {
        margin: 0 50px 20px 0;

        &.xsmall {
          margin: 0 0 0 0;

          .list-sponsors div:nth-child(1) a {
            margin-right: 16px;
          }
        }
      }
    }
  }
}