@import "components/variables";
@import "mixins/all";

:host {
  
  .container {
    
    h1, h2, h3 {
      z-index: 0;
      margin-top: 20px;
      line-height: 1em;
      text-align: center;
      color: $prime_white;
      font-weight: 400;
      letter-spacing: 3px;
    }

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 3em;
      padding-bottom: 20px;
    }

    h3 {
      font-size: 1.8em; 
      line-height: 1.1em;
      padding-bottom: 20px;
    }

    paper-button {
      background: $prime_blue;
      margin: 33px 10px;
      color: $prime_yellow;
      font-size: 24px !important;
    }

  }

}

:host[secondary] {
  background-color: $prime_blue;
}